<!DOCTYPE html>
<html>
<include file="Public:header" />
		<div class="content-body">
			<div class="container">
				<div class="row">
					<main class="col-md-12">
						<article class="post post-1">
							<header class="entry-header">
								<h1 class="entry-title">
									J.H & Blog. 成立2016.11.25 望各位大神 
								</h1>
								<div class="entry-meta">
									<span class="post-date"><a href="#">此处是标签</a></span>
									<span class="post-date"><a href="#">日期 2015.11.25 </a></span>
									<span class="comments-link"><a href="#">阅读(15)</a></span> 
									<span class="comments-link"><a href="#">评论(15)</a></span> 
									<span class="comments-link"><a href="#">赞(15)</a></span> 
								</div>
							</header>
							<div class="entry-content clearfix">
								<p>Responsive web design offers us a way forward, finally allowing us to design for the ebb and flow of things. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly.</p>
								<div class="read-more cl-effect-14">
									<a href="{:U('Article/index')}" class="more-link">Read More<span class="meta-nav">→</span></a>
								</div>
							</div>
						</article>
						<br><br><br><br><br><br>
<include file="Public:footer" />		

	</body>
</html>