<footer id="site-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p class="copyright">&copy; 2016 - 2017 <a href="" target="J.H & Blog" title="J.H & Blog"></a> - Original By <a href="" title="J.H & Blog" target="J.H & Blog"></a>J.H & Blog</p>
					</div>
				</div>
			</div>
		</footer>

		<!-- Mobile Menu -->
		<div class="overlay overlay-hugeinc">
			<button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
			<nav>
				<ul>
					<li><a href="index.html">主页</a></li>
					<li><a href="full-width.html">文章</a></li>
					<li><a href="about.html">随笔</a></li>
					<li><a href="contact.html">教程</a></li>
					<li><a href="contact.html">下载</a></li>
				</ul>
			</nav>
		</div>

		<script src="__PUBLIC__/Home/js/script.js"></script>