<!DOCTYPE html>
<html>
	<head>
		<title>J H &amp; Blog</title>

		<!-- meta -->
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <!-- css -->
		<link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap.min.css">
		<link rel="stylesheet" href="__PUBLIC__/Home/css/ionicons.min.css">
		<link rel="stylesheet" href="__PUBLIC__/Home/css/pace.css">
	    <link rel="stylesheet" href="__PUBLIC__/Home/css/custom.css">

	    <!-- js -->
	    <script src="__PUBLIC__/Home/js/jquery-2.1.3.min.js"></script>
	    <script src="__PUBLIC__/Home/layer/layer.js"></script>
	    <script src="__PUBLIC__/Home/js/bootstrap.min.js"></script>
	    <script src="__PUBLIC__/Home/js/pace.min.js"></script>
	    <script src="__PUBLIC__/Home/js/modernizr.custom.js"></script>
	</head>

	<body>
		<div class="container">	
			<header id="site-header">
				<div class="row">
					<div class="col-md-4 col-sm-5 col-xs-8">
						<div class="logo">
							<h1><a href="{:U('Index/index')}"><b>J.H</b> &amp; Blog</a></h1>
						</div>
					</div><!-- col-md-4 -->
					<div class="col-md-8 col-sm-7 col-xs-4">
						<nav class="main-nav" role="navigation">
							<div class="navbar-header">
  								<button type="button" id="trigger-overlay" class="navbar-toggle">
    								<span class="ion-navicon"></span>
  								</button>
							</div>

							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  								<ul class="nav navbar-nav navbar-right">
    								<li class="cl-effect-11"><a href="{:U('Index/index')}" data-hover="J.H">J.H</a></li>
    								<li class="cl-effect-11"><a href="{:U('Index/index')}" data-hover="文">文章</a></li>
    								<li class="cl-effect-11"><a href="{:U('Article/essay')}" data-hover="随">随笔</a></li>
    								<li class="cl-effect-11"><a href="{:U('Article/course')}" data-hover="教">教程</a></li>
    								<li class="cl-effect-11"><a href="{:U('Article/software')}" data-hover="软">软件</a></li>
    								<li class="cl-effect-11"><a href="{:U('Donload/index')}" data-hover="下">下载</a></li>
    								<li class="cl-effect-11"><a href="{:U('Login/index')}" data-hover="Login">Login</a></li>
  								</ul>
							</div>
						</nav>
					</div>
				</div>
			</header>
		</div>