<!DOCTYPE html>
<html>
			<aside class="col-md-4">
						<div class="widget widget-recent-posts">		
							<h3 class="widget-title">&nbsp;&nbsp;最新美文</h3>		
							<ul>
								<li>
									<a href="#">&nbsp;&nbsp;J.H 工作室 开业1年</a>
								</li>
								<li>
									<a href="#">&nbsp;&nbsp;测试文章</a>
								</li>
								<li>
									<a href="#">&nbsp;&nbsp;测试文章</a>
								</li>
							</ul>
						</div>
						<div class="widget widget-category">		
							<h3 class="widget-title">&nbsp;&nbsp;随笔</h3>		
							<ul>
								<li>
									<a href="#">&nbsp;&nbsp;测试文章</a>
								</li>
								<li>
									<a href="#">&nbsp;&nbsp;测试文章</a>
								</li>
								<li>
									<a href="#">&nbsp;&nbsp;测试文章</a>
								</li>
							</ul>
						</div>
						<div class="widget widget-archives">		
							<h3 class="widget-title">&nbsp;&nbsp;教程</h3>		
							<ul>
							<li>
									<a href="#">&nbsp;&nbsp;SEO</a>
								</li>
								<li>
									<a href="#">&nbsp;&nbsp;PHP</a>
								</li>
								<li>
									<a href="#">&nbsp;&nbsp;C++</a>
								</li>
								<li>
									<a href="#">&nbsp;&nbsp;Linux</a>
								</li>
								<li>
									<a href="#">&nbsp;&nbsp;Python</a>
								</li>
							</ul>
						</div>
						<div class="widget widget-archives">		
							<h3 class="widget-title">&nbsp;&nbsp;软件</h3>		
							<ul>
							<li>
									<a href="#">&nbsp;&nbsp;脚本</a>
								</li>
								<li>
									<a href="#">&nbsp;&nbsp;源码</a>
								</li>
								<li>
									<a href="#">&nbsp;&nbsp;编译器</a>
								</li>
								<li>
									<a href="#">&nbsp;&nbsp;免费软件</a>
								</li>
							</ul>
						</div>
					</aside>
				</div>
			</div>
		</div>