<!DOCTYPE html>
<html>
<include file="Public:header" />
		<div class="content-body">
			<div class="container">
				<div class="row">
					<main class="col-md-8">
						<article class="post post-1">
							<header class="entry-header">
								<h1 class="entry-title">
									<a href="{:U('Article/index')}">Shadowsocks-libev一键安装脚本（CentOS6,7）</a>
								</h1>
								<div class="entry-meta">
									<span class="post-date"><a href="#">Linux</a></span>
									<span class="post-date"><a href="#">日期 2015.11.25 </a></span>
									<span class="comments-link"><a href="#">阅读(15)</a></span> 
									<span class="comments-link"><a href="#">评论(15)</a></span> 
									<span class="comments-link"><a href="#">赞(15)</a></span> 
								</div>
							</header>
							<div class="entry-content clearfix">
								<p>shadowsocks-libev相比《Shadowsocks-python一键安装脚本（CentOS6,7、Ubuntu、Debian）》，该版本的特点是内存占用小（600k左右），低 CPU 消耗，甚至可以安装在基于OpenWRT的路由器上。 使用方法 使用root用户登录，运行以下命令： wget http://mirrors.linuxeye.c……</p>
								<div class="read-more cl-effect-14">
									<a href="{:U('Article/index')}" class="more-link"> Read More <span class="meta-nav"→</span></a>
								</div>
							</div>
						</article>
					</main>
<include file="Public:left" />					
<include file="Public:footer" />		

	</body>
</html>