<!DOCTYPE html>
<html>
<include file="Public:header" />
		<div class="content-body">
			<div class="container">
				<div class="row">
					<main class="col-md-8">

						<volist name="data" id="vol">
						<article class="post post-1">
							<header class="entry-header">
								<h1 class="entry-title">
									<a href="{:U('Article/index')}">{$vol.articletit}</a>
								</h1>
								<div class="entry-meta">
									<span class="post-date"><a href="#">Linux</a></span>
									<span class="post-date"><a href="#">日期 2015.11.25 </a></span>
									<span class="comments-link"><a href="#">阅读(15)</a></span> 
									<span class="comments-link"><a href="#">评论(15)</a></span> 
									<span class="comments-link"><a href="#">赞(15)</a></span> 
								</div>
							</header>
							<div class="entry-content clearfix">
								<p>{$vol.article}</p>
								<div class="read-more cl-effect-14">
									<a href="{:U('Article/index')}" class="more-link"> Read More <span class="meta-nav"></span></a>
								</div>
							</div>
						</article>
						</volist>
					</main>
<include file="Public:left" />					
<include file="Public:footer" />		

	</body>
</html>